{{define "meta"}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{end}}

{{define "styles"}}
    <link rel="stylesheet" href="/public/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles/loginPage.css">
{{end}}


{{define "scripts"}}
    <script src="/public/scripts/jquery.min.js"></script>
    <script src="/public/scripts/popper.min.js"></script>
    <script src="/public/scripts/bootstrap.min.js" ></script>
{{end}}